 <section id = aside>
  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Making materials into technology is how we progress to the future.</h2>
            <hr>
              <p>Flexible materials that respond to stimuli have a diverse range of applications, from disaster relief to biomedicine. </p>
              <p>Magnetic fields in particular as a mechanism for actuation allow for human safety, which is the number 1 priority.</p>
              <p>Having a flexible material with more degrees of freedom and adhesive properties will have great potential in comparison to their less adaptable counterparts.
              </p>
              <!--<a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>-->
          </div>
      </div>
  </aside>
</section>
