<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to team GECKO</h2>
                <hr class="light" style="color:#000000;">
                <p class="text-faded">We're a Gemstone team dedicated to developing a novel biomimetic adhesive surface.</p>
                <p class="text-faded">After looking at gecko skin, we asked ourselves: how can we develop a 3D printed adhesive system through magnetic ink?</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
