<aside class="bg-dark">
<!--<section id = footer>-->

      <div class="container text-center">
          <!--<div class="call-to-action">-->
            <a href="http://www.gemstone.umd.edu">
              <img src="img/portfolio/gemstoneLogo.png" alt="Gemstone Logo" width='120' height='160' align='left'>
            </a>
      <!--</div>-->
      <!--</div>
       <div class="container text-center">-->
            <!--<div class='call-to-action'>-->
             <a href="http://www.honors.umd.edu">
                  <img src="img/portfolio/honorsLogo.png" alt="UMD Honors College Logo" width='90' height='110' align='right'>
            </a>
         <!--</div>-->
            
      </div>
      <div>
      </div>
      <div class="container text-center">
            <p class="text-faded">
                  <font size="-1">Team GECKO, part of the University of Maryland's class of 2022, conducts its research as part of the Gemstone Honors Program.
            </font>
            </p>
      </div>
<!--</section>-->
     </aside>
