<aside class="bg-dark">
<section id = footer>

      <div class="container text-center">
          <div class="call-to-action">
            <a href="www.gemstone.umd.edu"
              <img src="img/portfolio/gemstoneLogo.png" alt="Gemstone Logo" width='120' height='160' align='left'>
            </a>
          </div>
            <div class='call-to-action'>
                  <img src="img/portfolio/honorsLogo.png" alt="UMD Honors College Logo" width='90' height='110' align='right'>
         </div>
      </div>

</section>
     </aside>
