<section class="timeline">
  <h1>GECKO Timeline, <span>2019-2022</span></h1>
  <div class="flex-parent">
    <div class="input-flex-container">
      <div class="input">
        <span data-year="Fall 2019" data-info="Draft Prospectus"></span>
      </div>
      <div class="input">
        <span data-year="Fall 2019" data-info="Begin Labwork"></span>
      </div>
      <div class="input active">
        <span data-year="Fall 2019" data-info="Literature Review"></span>
      </div>
      <div class="input">
        <span data-year="Spring 2020" data-info="Reproduce Magnetic Ink"></span>
      </div>
      <div class="input">
        <span data-year="Spring 2020" data-info="Begin Designing Gecko Skin"></span>
      </div>
      <div class="input">
        <span data-year="Fall 2020" data-info="Do Good Showcase"></span>
      </div>
      <div class="input">
        <span data-year="Fall 2020" data-info="Merge Ink and Gecko"></span>
      </div>
      <div class="input">
        <span data-year="Spring 2021" data-info="Complete Prototype"></span>
      </div>
      <div class="input">
        <span data-year="Spring 2021" data-info="Undergraduate Research Day"></span>
      </div>
      <div class="input">
        <span data-year="Spring 2022" data-info="Final Thesis Conference"></span>
      </div>
    </div>
    <div class="description-flex-container">
      <p class="active">Complete Team GECKO's project proposal for GEMSTONE</p>
      <p>Complete lab training and start working on ink</p>
      <p>Compile collection of initial research on gecko skin and magnetic 3D ink</p>
      <p>Start reproducing results and produce magnetic 3D ink</p>
      <p>Begin designing adhesive gecko-inspired microstructures</p>
      <p>Present at Do Good Showcase on applications of our work</p>
      <p>Begin combining our work with magnetic 3D ink and adhesion</p>
      <p>Complete our controllable adhesive surface prototype</p>
      <p>Present poster at Undergraduate Research Day</p>
      <p>Defend our final thesis and complete Project GECKO</p>
    </div>
  </div>
</section>
